<div class="dialog-content">
  <h2 mat-dialog-title>Nieobecności</h2>
  <div [formGroup]="absenceForm">
    <div mat-dialog-content>
      <mat-form-field class="form-field">
        <mat-label>Data Rozpoczęcia</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-label>Czas Rozpoczęcia</mat-label>
        <input matInput formControlName="startTime" type="time" />
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-label>Czas Zakończenia</mat-label>
        <input matInput formControlName="endTime" type="time" />
      </mat-form-field>
      <div *ngIf="absenceForm.errors?.['timeRangeInvalid']" class="error">
        Czas zakończenia musi być po czasie rozpoczęcia.
      </div>
    </div>
    <div mat-dialog-actions align="end">
      <button
        mat-flat-button
        color="primary"
        (click)="onSaveClick()"
        [disabled]="absenceForm.invalid"
      >
        Zgłoś Nieobecność
      </button>
      <button
        mat-stroked-button
        (click)="onCancelClick()"
        style="margin-left: 10px"
      >
        Anuluj
      </button>
    </div>
  </div>
</div>
