<!-- <div class="header">
  <div *ngIf="currentUser">
    <span>Witaj, {{ currentUser.username }}!</span>
    <button (click)="logout()">Wyloguj</button>
  </div>
</div>

 -->

<div class="container" cdkDropListGroup>
  <div class="calendar-container">
    <div class="calendar-header">
      <div>
        <h2
          class="calendar-month"
          *ngIf="currentView === 'month' || currentView === 'week'"
        >
          {{ viewDate | date : "MMMM" }}
          <span>{{ viewDate | date : "y" }}</span>
        </h2>
        <h2 class="calendar-month" *ngIf="currentView === 'day'">
          {{ viewDate | date : "d MMMM" }}
          <span>{{ viewDate | date : "y" }}</span>
        </h2>
        <span class="calendar-dayname" *ngIf="currentView === 'day'">
          {{ viewDate | date : "EEEE" }}
        </span>
      </div>
      <mat-button-toggle-group
        class="calendar-view-toggle"
        name="currentView"
        (change)="switchToView($event.value)"
        aria-label="Widok kalendarza"
      >
        <mat-button-toggle value="{{ CalendarView.Month }}"
          >Miesiąc</mat-button-toggle
        >
        <mat-button-toggle checked="{{ true }}" value="{{ CalendarView.Week }}"
          >Tydzień</mat-button-toggle
        >
        <mat-button-toggle value="{{ CalendarView.Day }}"
          >Dzień</mat-button-toggle
        >
      </mat-button-toggle-group>
      <div class="calendar-controls">
        <button
          mat-icon-button
          (click)="previous()"
          (keydown.enter)="previous()"
          (keydown.space)="previous()"
        >
          <mat-icon>chevron_left</mat-icon>
        </button>
        <button
          mat-stroked-button
          (click)="viewToday()"
          (keydown.enter)="viewToday()"
          (keydown.space)="viewToday()"
        >
          Dziś
        </button>
        <button
          mat-icon-button
          (click)="next()"
          (keydown.enter)="next()"
          (keydown.space)="next()"
        >
          <mat-icon>chevron_right</mat-icon>
        </button>
        <button
          mat-flat-button
          (click)="selectDate()"
          (keydown.enter)="selectDate()"
          (keydown.space)="selectDate()"
        >
          Dodaj spotkanie
        </button>

        <button
          mat-flat-button
          (click)="openBasket()"
          (keydown.enter)="openBasket()"
          (keydown.space)="openBasket()"
        >
          Koszyk
        </button>

        <button
          mat-flat-button
          (click)="addAbsence()"
          (keydown.enter)="addAbsence()"
          (keydown.space)="addAbsence()"
        >
          Nieobecność
        </button>
      </div>
    </div>

    <!-- Month View -->
    <table
      width="100%"
      cellspacing="0"
      cellpadding="0"
      class="calendar-view-month"
      *ngIf="currentView === 'month'"
    >
      <thead>
        <tr>
          <th *ngFor="let day of weekDays">
            {{ day }}
          </th>
        </tr>
      </thead>
      <tbody cdkDropListGroup>
        <tr *ngFor="let week of weeks">
          <td
            *ngFor="let date of week"
            cdkDropList
            (cdkDropListDropped)="drop($event, date)"
            [cdkDropListData]="appointments"
            [class.today]="isToday(date)"
          >
            <div
              (click)="selectDate(date)"
              class="cell-overlay"
              tabindex="0"
            ></div>
            <div class="date">
              {{ date.getDate() }}
            </div>
            <div class="appointments">
              <ng-container *ngFor="let appointment of appointments">
                <div
                  tabindex="0"
                  *ngIf="isSameDate(appointment.date, date)"
                  class="appointment"
                  cdkDrag
                  cdkDragHandle
                  [cdkDragData]="appointment"
                  (click)="editAppointment(appointment, $event)"
                >
                  <span>{{ appointment.name_and_surname }}</span>
                </div>
              </ng-container>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- Month View End -->

    <!-- Week View -->
    <table
      width="100%"
      cellspacing="0"
      cellpadding="0"
      class="calendar-view-week"
      *ngIf="currentView === 'week'"
    >
      <thead>
        <tr>
          <th>Godzina</th>
          <th *ngFor="let date of monthDays">
            {{ date.getDate() }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let timeSlot of timeSlots">
          <td>{{ timeSlot }}</td>
          <td *ngFor="let date of monthDays">
            <div
              (click)="selectDate(date)"
              class="cell-overlay"
              tabindex="0"
            ></div>
            <div class="appointments">
              <ng-container *ngFor="let appointment of appointments">
                <div
                  tabindex="0"
                  *ngIf="
                    isSameDate(appointment.date, date) &&
                    appointment.startTime <= timeSlot &&
                    appointment.endTime >= timeSlot
                  "
                  class="appointment"
                  cdkDrag
                  cdkDragHandle
                  [cdkDragData]="appointment"
                  (click)="editAppointment(appointment, $event)"
                >
                  <span>{{ appointment.name_and_surname }}</span>
                </div>
              </ng-container>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- Week View End -->

    <!-- Day View -->
    <table
      width="100%"
      cellspacing="0"
      cellpadding="0"
      class="calendar-view-day"
      *ngIf="currentView === 'day'"
    >
      <thead>
        <tr>
          <th>Godzina</th>
          <th>Spotkania</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let timeSlot of timeSlots">
          <td>{{ timeSlot }}</td>
          <td>
            <div class="appointments">
              <ng-container
                *ngFor="
                  let appointment of getAppointmentsForDateTime(
                    viewDate,
                    timeSlot
                  )
                "
              >
                <div
                  class="appointment"
                  (click)="editAppointment(appointment, $event)"
                >
                  <span>{{ appointment.name_and_surname }}</span>
                </div>
              </ng-container>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- Day View End -->
  </div>
</div>
